/.idea/
/out/production/RepoToShow/CustomScanner.class
/out/production/RepoToShow/HelloWorld.class
/out/production/RepoToShow/InkrementacjaDekrementacja.class
/out/production/RepoToShow/OperatoryMatematyczne.class
/out/production/RepoToShow/TypyObiektowe.class
/out/production/RepoToShow/TypyProste.class
/out/production/RepoToShow/Zmienne.class
